:root {
  --primary-color: #282c34;
  --secundary-color: #383a3de1;
  --background-color: #f1d6f7b9;
  --text-color: #ffffff;
  --button-color: #852c80;
}

.App {
  text-align: center;
}

.nav-link {
  color: var(--text-color);
}

.nav-link:hover {
  color: var(--button-color);
}
body {
  background-color: var(--primary-color);
  margin: 0;
}

.cardBody {
  background-color: var(--background-color);
  padding: 20px;
}

.buttonSaibaMais {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.buttonSaibaMais:hover {
  background-color: var(--button-color);
}
